/* styles.css */
body {
    font-family: monospace;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font: inherit;
    font-size: 16px;
    line-height: 1.1;
}

.currency-bar {
    font: inherit;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    padding: 5px;
    border: 2px dashed black;
    width: 342px;
    box-sizing: border-box;
}

.currency-item {
    font: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.currency-item span {
    display: block;
    margin-top: 2px;
    padding: 2px;
    border: 2px solid black;
}

.field-container {
    text-align: center;
    margin-top: 20px;
}

.field-title {
    font: inherit;
    margin-bottom: 10px;
}

.field {
    font: inherit;
    border: 2px dashed black;
    margin: 10px auto;
    padding: 10px;
    width: 320px;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    grid-gap: 2px;
}

.plotButton {
    font: inherit;
    height: 30px;
    width: 30px;
    margin: 2px;
    padding: 0;
}

.store-container {
    text-align: center;
    margin-top: 20px;
}

.store-title {
    font: inherit;
    margin-bottom: 10px;
}

.store-section-label {
    font: inherit;
    text-align: center;
    margin-bottom: 10px;
}

.store {
    font: inherit;
    border: 2px dashed black;
    margin: 10px auto;
    padding: 10px;
    width: 320px;
    text-align: center;
}

.store-button-large {
    font: inherit;
    padding: 5px;
    margin: 5px;
}

.save-container {
    text-align: center;
    margin-top: 25px;
}

.instructions-container {
    text-align: center;
    margin-top: 5px;
}
