body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

header {
    font: inherit;
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Currency Bar Styles */
.currency-bar {
    font-family: inherit;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    padding: 5px;
    border: 2px dashed black;
    box-sizing: border-box; /* Include padding in the width */
}

.currency-item {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 5px;
}

.currency-item span {
    font-family: inherit;
    display: block;
    margin-top: 2px;
    padding: 2px;
    border: 2px solid black;
}

/* Container Title Styles */
.container-title {
    font-family: inherit;
    font-size: 1.5em;
    margin: 2px;
}

/* Section Title Styles */
.section-title {
    font-family: inherit;
    font-size: 1.5em;
    margin: 2px;
}

/* Store Styles */
.store {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 322.5px;
    margin: 10px auto;
    padding: 10px;
    border: 2px dashed black;
    box-sizing: border-box;
    transition: max-height 1s ease-out;
}

.store-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px 0;
}

.store-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inherit;
    font-size: 1.2em;
    margin: 2px;
}

.item-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inherit;
    font-size: 1em;
    margin-top: 5px;
}

.store-button {
    font-family: inherit;
    padding: 5px 10px;
    margin: 5px 0;
}

.item-price {
    font-family: inherit;
    font-size: 1em;
    margin-top: 2px;
    padding: 2px;
}

.field {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px; /* Adjust the gap between plots as needed */
    width: 100%;
    max-width: 322.5px; /* Set a max-width for the container */
    height: 343.5px;
    border: 2px dashed black;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.plotButton {
    font-family: inherit;
}

/* Upgrades Styles */
.upgrades {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 322.5px; /* Set a max-width for the container */
    height: 343.5px;
    border: 2px dashed black;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}